:root {
    --accent-color: #2196F3;
    --primare-text-color: #757575;
    --title-text-color: #212121;
    --light-text-color: #ffffff;
    --background-color-first: #ffffff;
    --background-color-second: #F5F4FA;
    --backgrout-color-dark: #2F303A;
    --stroke-color: #EEEEEE;
    --stroke-header: #ECECEC;
}
 
body {
    background-color: var(--background-color-first);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.link.nav {
    color: var(--primare-text-color);
}
/*logo*/
.link.logo {
    color: var(--accent-color);
    border: none;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
}

.logo-dark {
    color: #000;
}

.logo-light {
    color: var(--light-text-color);
}

/*hero*/
.hero {
    background-color: var(--backgrout-color-dark);
}

.hero-title {
    color: var(--light-text-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.hero-btn {
    background-color: var(--accent-color);
    color: var(--light-text-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
}


/*button*/
.btn {
    background-color: #F5F4FA;
    color: var(--title-text-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--light-text-color);
}

.btn.active {
    background-color: var(--accent-color);
    color: var(--light-text-color);
}

/*link*/
.link {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.link.active {
    color: var(--accent-color);
}

.hero-btn, 
.btn {
    cursor: pointer;
}

.text {
    color: var(--primare-text-color);
}

.section-title {
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
}

.title {
    color: var(--title-text-color);
}

/*section*/

/*peculiarities*/
.peculiarities .title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

/*team*/
.team {
    background-color: var(--background-color-second);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team .title {
    font-weight: 500;
}

.team .text {
    font-weight: 400;
}

/*footer*/
.footer {
    background-color: var(--backgrout-color-dark);
}

.footer-map,
.footer {
    color: var(--light-text-color);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}

.footer {
    color: rgba(255, 255, 255, 0.6);
}

/*portfolio*/
.portfolio .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio .text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
}